.general{
  background-color: grey;
}
h1{
  text-align: center;
  color: darkblue;
  background-color: white;
}
img{
  width: 180px;
  border-radius: 30px;
  height: 180px;
}
.personaldetails{
  text-align: center;
  color: darkblue;

}
.intro{
  color: red;
}
.column{
  column-count: 2
}
.education{
  background-color: blue;
}
.skills{
  background-color: blue;
}
.experience{
  background-color: blue;
}
